.app-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 150px;
  align-items: flex-start;
  cursor: pointer;
}
.comments-app {
  display: flex;
  flex-direction: row;
}

.comment-heading {
  font-size: 40px;
  font-family: 'Roboto';
  color: #1e293b;
  font-weight: 700;
}

.comment-note {
  font-size: 18px;
  font-family: 'Roboto';
  color: #475569;
}
.input-containers {
  display: flex;
  flex-direction: column;
}
.name-input {
  height: 50px;
  width: 40%;
  border: 1px solid #94a3b8;
  border-radius: 5px;
  background-color: transparent;
  color: #1e293b;
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.comment-input {
  height: 200px;
  width: 40%;
  border: 1px solid #94a3b8;
  border-radius: 5px;
  background-color: transparent;
  color: #1e293b;
  font-size: 18px;
  padding: 15px;
  margin-bottom: 20px;
}

.add-comment-btn {
  height: 48px;
  width: 150px;
  background-color: #0284c7;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 4px;
}

.comments-image {
  display: flex;
  flex-wrap: wrap;
}

.image {
  height: 400px;
  width: 40%;
  margin: 20px;
}
